name: Continuous Data Generation and DVC Tracking

on:
  schedule:
    - cron: '* */23 * * *'  # This example runs every 5 minutes, adjust as needed

jobs:
  generate_and_track_data:
    runs-on: ubuntu-latest

    steps:
    - name: Check out the repository
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.8'  # Replace with your Python version

    - name: Install dependencies
      run: |
        pip install pandas numpy
        pip install dvc

    - name: Generate Data
      run: python random_data.py  # Assuming the script is in the root

    - name: DVC Add
      run: |
        dvc add dummy_sensor_data.csv  # Assuming the CSV is in the root

    - name: Commit DVC files
      run: |
        git config --global user.name 'Abdul-Rehman04'
        git config --global user.email 'i191886@nu.edu.pk'
        git add dummy_sensor_data.csv.dvc .gitignore
        git commit -m "Update dataset [skip ci]"

    - name: Push Git changes
      run: |
        git push
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: DVC Push
      run: dvc push
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        GOOGLE_APPLICATION_CREDENTIALS_DATA: ${{ secrets.GOOGLE_APPLICATION_CREDENTIALS_DATA }}
